.shadow-cust{
    box-shadow: 0px 0px 15px #343a40;
}

.navbar{
    min-height: 10vh
}

.bg-black{
    background-color: black;
}

.offer-card{
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.fill-the-space{
    min-height: 90vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.footer{
    box-shadow: 0 10px 20px -15px black inset;
    padding-top: 5vh;
    padding-bottom: 2vh;
    min-height: 18vh;
}

.footer-menu{
    max-width: 800px;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.copyrights-text{
    margin: 5px;
    text-align: center;
    font-size: 10px;
    position: relative;
    bottom: 0;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: white;
}